body {
    background-color: lightgray;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    color: gray;
    font-size: 60px;
}

#main {
    margin: 0 40% 0 40%;
    border-top: 20px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}