body {
    background-color: #c2c2c2;
    font-family: sans-serif;
    cursor: default;
}

h1 {
    text-align: center;
    color: #990000;
    font-size: 70px;
}

#wrapper {
    margin: 0 35% 0 35%;
    position: relative;
}

#main {
    border-top: 25px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#itemEntry {
    font-size: 24px;
    padding-left: 5px;
    height: 70px;
    border: none;
    cursor: text;
}

#itemEntry:focus {
    color: black;
}

#statusBar {
    color: #ffffff;
    height: 20px;
    background-color: #00a3a3;
    display: none;
}

#remaining {
    float: left;
}

#selector {
    float: right;
    cursor: pointer;
}

#selector li {
    display: inline;
    list-style-type: none;
    margin-right: 2px;
    padding: 1px 2px 1px 2px;
}

#selector li:last-child {
    margin-right: none;
}

#help {
    float: right;
    color: #00a3a3;
    cursor: pointer;
    margin: 3px 0px 3px 3px;
    height: 20px;
    width: 20px;
}

#helpDisplay {
    position: absolute;
    display: none;
    width: 500px;
    left: 580px;
    top: 87px;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 0;
}

#helpDisplay ul {
    list-style-type: none;
    padding: 0;
    margin: 3px;
}

#helpDisplay li {
    margin-bottom: 5px;
}

#helpDisplay li:last-child {
    margin-bottom: 0;
}

.helpStrong {
    font-weight: bold;
    color: #d60000;
}

.todo {
    font-size: 24px;
}

.selected {
    color: #990000;
    font-weight: bold;
}

.completed {
    text-decoration: line-through;
    color: #990000;
}

.remove {
    float: right;
    color: #000000;
    display: none;
}

.toDoText {
    margin-bottom: 0;
    height: 36px;
}

.toDoInput {
    display: none;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 24px;
    border: none;
    cursor: text;
    width: 90%;
}

.toDoInput:focus {
    outline: 0;
}

/* Overriding default Bootstrap styling */
.form-control {
    border-radius: 0;
}

.list-group {
    margin-bottom: 0;
}

.list-group-item {
    /* Using !important to avoid redundancy with every pseudo-selector*/
    border-radius: 0 !important;
    padding: 5px;
}